*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ddd;
    .parnets-box{
        padding: 20px;
        border: 1px solid #ddd;
        margin-top: 20px;
        .change-box{
            margin-top: 10px;
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #f1f1f1;
            .title-box{
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
    input{
        width: 100px;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #ddd;
    }
    .bt-wrap{
        margin-top: 10px;
        button{
            padding: 5px 25px;
            border: none;
            background-color: #333;
            color: #fff;
        }
    }
}
.gnb{
    margin-bottom: 50px;
    a{
        display: inline-block;
        padding: 20px;
        margin: 10px;
        border: 1px solid #ddd;
        background-color: #f1f1f1;
        text-decoration: none;
        color: #444;
        font-weight: bold;
        &.router-link-active{
            border-color: #444;
            background-color: #444;
            color: #fff;
        }
    }
}
.flex-box{
    display: flex;
    margin: 0 -20px;
}
.flex-item{
    width: 50%;
    padding: 0 20px;
}